*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
  
}
.App{
    height:fit-content;
    
}
.header{
    justify-content: center;
    display: flex;
    width:100%;
    height: 7em;
    background-color:#000000 ;
  
}
.headerContainer{
   
    position:fixed;
    width:100%;
    z-index: 999;
  
}
.MobileNavicon{
    display: none;
}

.logo{
    width:5em;
}
.name{
    align-self: center;
    font-family: 'Lobster', sans-serif;
    font-size:4em;
    color:#ffffff;
   
}
.subNavBarContainer{
    justify-content: center;
    display: flex;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 2em;
    width:100%;
    background-color: rgb(219, 218, 218);
    z-index: 999;
    position:fixed;
    align-items: center;

   
}


.navBarContainer{
    justify-content: space-around;
    display: flex;
    border-bottom: #acacac;
    border-bottom-width:5px;
    border-bottom-style:solid ;
    background-color: #ffffff;
 
}
.navBarText{
    color: black;
    font-size:1.6em;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.mainsection{
    
    justify-content: center;
    display: flex;
    flex-direction: row;
    
  
}
.websiteheader{
    margin-bottom: 10em;
 
}

.mainimagecaption{
    padding: 1em;
    font-family: 'Lobster', sans-serif;
    font-size: 3em;
}
.mainimagecaption>span{
   
    font-family: 'Poppins', sans-serif;
    font-size:0.5em;
}
.pizzagif{
   width:50%;

}
.pizzagifsection{
    padding-top: 15em;
    justify-content: center;
    display: flex;
}
.AboutUsPageContainer{
    background-image: url("assets/green-leaves-white-background.png");
    background-size:cover;
    padding-bottom:2em;
   
}
.Map{
    justify-content: center;
    display: flex;
    padding-bottom: 5em;
}
.sectiontitle{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}
.footer{
    display:flex ;
    justify-content:center;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color:#313131;
    font-weight:bolder;
    font-size: 1.5em;
    margin-bottom:0 em;
    padding:0em;
   
}
.footercomp{
    padding-bottom:0.5em;
}
.footersection{
    margin-top:2em;
}
.socialcontainer{
    cursor:pointer;
}
.socialcontainer>a{
    color:#1b1b1b;
    padding-right:0.5em;
    
}
.MobileMenuSection{
    display: none;
}
.MenuSection{

   padding-top: 5em;
   font-family: 'Lobster', sans-serif;
   font-size: 2em;
   padding-left: 1.5em;
   width:fit-content;
   height: 10em;
   margin-bottom: 5em;
   background-color: rgb(100, 109, 109);


}
.MenuPage{
    padding: 0;
    margin:0;
    padding-top: 5em;
  
    
}
.PlateCardContainer{
    width:7em;
    height: 10em;
    background-color: #ffffff;
    margin-top:3em;
    border-style: solid;
    border-color: #000000;
    border-width:3px;
    margin-right: 1em;
    cursor: pointer;

}
.PlateCardContainer:hover{
    filter:brightness(0.6);
}
.PlateTitle{
    text-align: center;
    font-family: 'lobster', sans-serif;
    font-size: 0.6em;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
.SectionTitle{
 
    text-align: left;
    position:absolute;
    width: 100%;
    color: #ffffff;
    font-size: 1.4em;
    margin-left: 0;
    font-family: 'lobster', sans-serif;
   
   
}
.PlateImageContainer{
    display: flex;
    justify-content: center;
   
}
.PlateImage{
    width:80%;
}
.PlateDescription{
    justify-content: center;
    font-size:0.4em;
    font-weight: bold;
    padding: 0.5em;
    font-family: 'Poppins', sans-serif;
}
.PlatePrice{
   text-align: right;
   font-size: 0.6em;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
   padding-right: 0.5em ;
}
.CategoryContainer{
    display: flex;
    width: fit-content;
  
 
}
.PlateContainer:active {
    transform: translateY(3px);
  }


 .HeroSectionContainer{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60em;
   
 }

 .Carousel{
    width:100%;  
 }
 .CarouselContent{
    background-color: rgb(219, 218, 218);
    height:fit-content;
    padding-bottom:2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:100%;
    overflow-x: hidden;

 }
 .CarouselCaption{
    padding:1em;
    padding-right:1.5em;
    font-size:2em;
    line-height: 1.5em;
 }
 .MobileCarouselContainer{
  display: none;
 }
 .CarouselContainer{
    margin-top: 15em;
    margin-bottom: 0;
  
 }
 .CarouselTitle{   
    font-family: 'Lobster', sans-serif;
    text-align: center;
    font-size:2em;
  
 }
 .Carouselimg{
    width:30%;
 }
 .CarouselImgContainer{
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 1em;
 }
 .buttonContainer{
  margin: auto;
  margin-bottom: 2em;
 }
 .carousel-control-next, .carousel-control-prev {
   font-weight:bolder;
   scale:150%;
  
    }
/* Search bar style */

.inputBox_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 20em;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-color:rgb(0, 0, 0);
    border-radius: 0.8em;
    overflow: hidden;

  }
  
  .search_icon {
    height: 1em;
    padding: 0 0.5em 0 0.8em;
    fill: #000000;
  }
  
  .inputBox {
    background-color: transparent;
    color: #000000;
    outline: none;
    width: 100%;
    border: 0;
    padding: 0.5em 1.5em 0.5em 0;
    font-size: 1em;
  }
  .filtericon{

    font-size: 2em;
    margin-left: 0.5em;
  }
  ::placeholder {
    color: #000000;
    font-weight: 700;

  }
  .ReservePage{
    padding-top: 7em;
  }
  .alert-info{
    text-align: center;
    z-index: 999;
    position: fixed;
    width: 100%;
  }
 @media (max-width:280px){
    .name{
        text-align: center;
    }
   
 }
@media (max-width: 650px) {
  
    .HomePageContainer{
        padding-bottom: 2em;
    }
   
    .mainimage{
        display: none;
    }
    .name{
        font-size:2.1em;
    }
    .mainimagecaption{
        font-size:1.5em;
       
    }
    .mainimagecaption>span{
        font-size:0.6em;
       
    }
    .logo{
        width: 4em;
    }
    .pizzagif{
        width:70%;
     
     }
     .pizzagifsection{
         padding-top: 12em;
         padding-bottom:2em;
         justify-content: center;
         display: flex;
     }
     .Map>iframe{
        width:300px;
        height:300px;
        
     }
     .MobileCarouselTitle{
        padding-bottom:5em;
        padding-top: 10em;
     }
   .MenuSection{
    display: none;
   }
   .MobileSectionTitle{
    color: #000000;
    font-size: 1.4em;
    font-family: 'Lobster', sans-serif;
    margin-top: 2em;
    text-align: center;

   }
   .MobileMenuSection{
    display:flex;
    justify-content:center;
    font-family: 'Lobster', sans-serif;
    font-size: 2em;
    padding-bottom: 1em;
 
   }
   .MobileCategoryContainer{
   display: flex;
   flex-direction: column;
   justify-content:center;
   margin: auto;
   margin-top: 0em;
   }
   .PlateCardContainer{
   margin-right: 0em;
   }
}
@media (max-width:992px){
    .navBarText {
        display: none;
    }
    .inputBox_container {
        display: flex;
        flex-direction: row;
        width: 13em;
    }
    .MobileNavicon{
        display: flex;
        color: #000000;
        font-size: 1.5em;
       border-radius: 1.5em;
    
    }
    .CarouselContainer{
        display: none;
      }
      .MobileCarouselContainer{
        display: flex;
        flex-direction: column;
        
      }
      .MobileCarouselImgContainer{
      display: flex;
      flex-direction: column;
    
      }
      .MobileCarouselimg{
        width:50%;
        margin: auto;
        padding-bottom: 5em;
      }
      .MobileCarouselTitle{
        font-size: 1.5em;
        font-weight: 800;
        text-align: center;
        font-family: 'Lobster', sans-serif;
        
        
      }
      .MobileCarouselCaption{
        padding:1em;
        text-align: center;
        font-size: 1em;
        padding-bottom: 3em;
      }
      .btn-dark{
       
        width:12em;
        height: 4em;

      }
}
@media  (min-width:651px) and (max-width:1250px){
  
   
    .HeroSectionimg{
        width:25em;
    }
    .mainimagecaption{
        padding: 0.5em;
        font-family: 'Lobster', sans-serif;
        font-size: 2em;
    }
 
    .mainimagecaption>span{
       
        font-family: 'Poppins', sans-serif;
        font-size:0.5em;
    }
    .MobileCarouselTitle{
     padding-bottom:5em;
     padding-top: 18em;
    }
}
@media (min-width:1251px) and (max-width:1350px){
    .mainimage{
        width:15em;
    }
}
@media (min-width:1500px){
    .CarouselCaption{
        font-size: 3em;
        
    }

}
@media (min-width:1000px){
    .btn-dark{
        width: 8em;
        height: 3em;
        font-size: 1.5em;
     }
    .CarouselTitle{
        padding-top:2em;
        font-size:4em ;

    }
    .CarouselCaption{
        font-size: 2em;
    }
    .subNavBarContainer{
       margin-top: 4em;
    }
    .ReservePage{
        padding-top: 9em;
      }
}

@media (min-width:2000px){
    .CarouselTitle{
        padding-top:6em;
        font-size:4em ;

    }
    .CarouselCaption{
        font-size: 4em;
    }
    .btn-dark{
        width:12em;
        height:5em;
     }
}
@media (min-width:2500px){
    .mainimagecaption>span{
        font-size:0.8em;
    }
    .sectiontitle{
        font-size:3em;
    }
    .Map>iframe{
        width:500px;
        height:500px;
        
     }
     .footer{
        font-size: 2em;
     }
     .name{
        font-size: 5em;
     }
    
}

