*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
   
}

.header{
    justify-content: center;
    display: flex;
    width:100%;
    height: 7em;
    background-color:#000000 ;
}
.headerContainer{
  
    position:fixed;
    width:100%;
    z-index: 999;
  
}
.logo{
    width:5em;
}
.name{
    align-self: center;
    font-family: 'Lobster', sans-serif;
    font-size:5em;
    color:#ffffff;
}

.navBarContainer{
    justify-content: space-around;
    display: flex;
    border-bottom: #acacac;
    border-bottom-width:5px;
    border-bottom-style:solid ;
    background-color: #ffffff;
  
 
   
}
.navBarText{
    color: black;
    font-size:1.6em;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.mainsection{
    
    justify-content: center;
    display: flex;
    flex-direction: row;
    
  
    
}
.websiteheader{
    margin-bottom: 10em;
 
}
.mainimage{
    width:20em;
}
.mainimagecaption{
    padding: 1em;
    font-family: 'Lobster', sans-serif;
    font-size: 3em;
}
.mainimagecaption>span{
   
    font-family: 'Poppins', sans-serif;
    font-size:0.5em;
}
.pizzagif{
   width:40%;

}
.pizzagifsection{
    padding-top: 15em;
    justify-content: center;
    display: flex;
}
.HomePageContainer{
    background-image: url("assets/green-leaves-white-background.png");
    background-size:cover;
    height:105em;
   
}
.Map{
    justify-content: center;
    display: flex;
    padding-bottom: 5em;
}
.sectiontitle{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}
.footer{
    display:flex ;
    justify-content:center;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color:#313131;
    font-weight:bolder;
    font-size: 1.5em;
    margin-bottom: 0em;
    padding:1em;
   
}
.footercomp{
    padding-bottom:0.5em;
}
.footersection{
    margin-top:2em;
}
@media (max-width:1350px){
    .mainimage{
        width:15em;
    }
}
@media (max-width:1250px){
    .mainimage{
        width:12em;
    }
    .mainimagecaption{
        padding: 0.5em;
        font-family: 'Lobster', sans-serif;
        font-size: 2em;
    }
    .mainimagecaption>span{
       
        font-family: 'Poppins', sans-serif;
        font-size:0.5em;
    }
}