*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  
    
}
.App{
    height: auto;
}
.header{
    justify-content: center;
    display: flex;
    width:100%;
    height: 7em;
    background-color:#000000 ;
  
}
.headerContainer{
   
    position:fixed;
    width:100%;
    z-index: 999;
  
}
.logo{
    width:5em;
}
.name{
    align-self: center;
    font-family: 'Lobster', sans-serif;
    font-size:4em;
    color:#ffffff;
   
}
.subNavBarContainer{
    justify-content: center;
    display: flex;
    padding-top: 0.5em;

   
}


.navBarContainer{
    justify-content: space-around;
    display: flex;
    border-bottom: #acacac;
    border-bottom-width:5px;
    border-bottom-style:solid ;
    background-color: #ffffff;
 
}
.navBarText{
    color: black;
    font-size:1.6em;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.mainsection{
    
    justify-content: center;
    display: flex;
    flex-direction: row;
    
  
}
.websiteheader{
    margin-bottom: 10em;
 
}

.mainimagecaption{
    padding: 1em;
    font-family: 'Lobster', sans-serif;
    font-size: 3em;
}
.mainimagecaption>span{
   
    font-family: 'Poppins', sans-serif;
    font-size:0.5em;
}
.pizzagif{
   width:50%;

}
.pizzagifsection{
    padding-top: 15em;
    justify-content: center;
    display: flex;
}
.AboutUsPageContainer,.MenuPage{
    background-image: url("assets/green-leaves-white-background.png");
    background-size:cover;
    padding-bottom:2em;
   
}
.Map{
    justify-content: center;
    display: flex;
    padding-bottom: 5em;
}
.sectiontitle{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}
.footer{
    display:flex ;
    justify-content:center;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color:#313131;
    font-weight:bolder;
    font-size: 1.5em;
    margin-bottom:0 em;
    padding:0em;
   
}
.footercomp{
    padding-bottom:0.5em;
}
.footersection{
    margin-top:2em;
}
.socialcontainer{
    cursor:pointer;
}
.socialcontainer>a{
    color:#1b1b1b;
    padding-right:0.5em;
    
}
.MenuSection{

   padding-top: 5em;
   font-family: 'Lobster', sans-serif;
   font-size: 2em;
   padding-left: 1.5em;
   width:fit-content;
   height: 10em;
   margin-bottom: 5em;
   background-color: rgb(100, 109, 109);


}
.MenPage{
    padding: 0;
    margin:0;
}
.PlateCardContainer{
    width:7em;
    height: 10em;
    background-color: #ffffff;
    margin-top:3em;
    border-style: solid;
    border-color: #000000;
    border-width:2px;
    margin-right: 1em;
    cursor: pointer;
}
.PlateCardContainer:hover{
    opacity: 80%;
}
.PlateTitle{
    text-align: center;
}
.SectionTitle{
 
    text-align: left;
    position:absolute;
    width: 100%;
    color: #ffffff;
    font-size: 1.4em;
    margin-left: 0;
   
}
.PlateImageContainer{
    display: flex;
    justify-content: center;
}
.PlateImage{
    width:90%;
}
.PlateDescription{
    justify-content: center;
    font-size:0.4em;
    padding: 0.5em;
    font-family: 'Poppins', sans-serif;
}
.PlatePrice{
   text-align: right;
   font-size: 0.6em;
   font-family: 'Poppins', sans-serif;
   padding-right: 0.5em ;
}
.CategoryContainer{
    display: flex;
    width: fit-content;
   
 
}
.PlateContainer:active {
    transform: translateY(3px);
  }
 /* .Homepage{
    overflow-y: hidden;
 } */
 .HomePageContainer{
    padding-top:7em;
  
    
 }
 .HeroSectionContainer{
    background-image: url("assets/green-leaves-white-background.png");
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60em;
 
   
 }
 .HeroSectionSubContainer{
   border-radius: 0.5em;
    width:80%;
    height:45em;
    background-color: rgb(228, 216, 149);
    align-items: center;
    display: flex;
    flex-direction: column;
  
   
 }
 .HeroSectionCaption{
    font-family: 'Lobster', sans-serif;
    text-align: center;
    padding-top: 1em;
 }
 .HeroSectionimg{
    width:25em;
    align-items: center;
    display: flex;
 }
 .ordernow{
    padding: 1em;
    border-style: solid;
    border-width: 4px;
    width:8em;
    height:2em;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-bottom: 1em;
 }
 .ordernow:hover{
    background-color: #000000;
    color:white;
    transition:linear 2s;
 }
 .HeroSectionPargraph{
color: #000000;
font-size: 1.5em;
font-family: 'Lobster', sans-serif;
padding-right: 1em;

 }
 .HeroSectionPargraph>span{
    font-size: 0.7em;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
 }
 .desccontainer{
    display: flex;
    justify-content:space-between;
    margin: auto;
    align-items: center;
 }
 .ordernowcontainer{
    justify-content: center;
    display: flex;
 }
/* Search bar style */
.inputBox_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 20em;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 3px;
    border-radius: 0.8em;
    overflow: hidden;

  }
  
  .search_icon {
    height: 1em;
    padding: 0 0.5em 0 0.8em;
    fill: #000000;
  }
  
  .inputBox {
    background-color: transparent;
    color: #000000;
    outline: none;
    width: 100%;
    border: 0;
    padding: 0.5em 1.5em 0.5em 0;
    font-size: 1em;
  }
  
  ::placeholder {
    color: #000000;
    font-weight: 600;
  }
 @media (max-width:280px){
    .name{
        text-align: center;
    }
   
 }
@media (max-width: 650px) {
  
    .HomePageContainer{
        padding-bottom: 2em;
    }
   
    .mainimage{
        display: none;
    }
    .name{
        font-size:2.1em;
    }
    .mainimagecaption{
        font-size:1.5em;
       
    }
    .mainimagecaption>span{
        font-size:0.6em;
       
    }
    .logo{
        width: 4em;
    }
    .pizzagif{
        width:70%;
     
     }
     .pizzagifsection{
         padding-top: 12em;
         padding-bottom:2em;
         justify-content: center;
         display: flex;
     }
     .Map>iframe{
        width:300px;
        height:300px;
        
     }
}
@media (max-width:992px){
    .navBarText {
        display: none;
    }
}
@media  (min-width:651px) and (max-width:1250px){
  
   
    .HeroSectionimg{
        width:25em;
    }
    .mainimagecaption{
        padding: 0.5em;
        font-family: 'Lobster', sans-serif;
        font-size: 2em;
    }
 
    .mainimagecaption>span{
       
        font-family: 'Poppins', sans-serif;
        font-size:0.5em;
    }
}
@media (min-width:1251px) and (max-width:1350px){
    .mainimage{
        width:15em;
    }
}
@media (min-width:2500px){
    .mainimagecaption>span{
        font-size:0.8em;
    }
    .sectiontitle{
        font-size:3em;
    }
    .Map>iframe{
        width:500px;
        height:500px;
        
     }
     .footer{
        font-size: 2em;
     }
     .name{
        font-size: 5em;
     }
}
